.navbar-header .navbar-brand{

    color: #000;
    font-weight : 999;
    font-size: 36px;
    padding-bottom: 10px;
}
.navbar-default {
    background-color: #967979;
    border-bottom : 1px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0px;
}

.main-body-heading{
    margin-top: -10px;
    margin-bottom: 50px;
}


/* main body  */

#main-content .main-article{
    background-color: #967979;
    
}
#main-content .main-article p{

    color : black ;
    padding: 10px;
    

}
.chicken{

   color: #000;
   font-size: 24px;
   margin: 10px;
   padding: 10px;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default .navbar-toggle {
    border: 2px solid black;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #080808;
    font-size: 16px;
    background-color: blanchedalmond;
   
}
.navbar-default .navbar-nav>li:first-child{
  
    border-bottom: 1px solid black;
}
.navbar-default .navbar-nav>li:nth-child(2){
  
    border-bottom: 1px solid black;
}




/* media queries */
@media (max-width:768){

    .main-article{
        margin-left: auto;
        margin-right: auto;
    }
}
